.create-item,
.edit-item {
    padding: 2rem 0;
    
    form {
        display: block;
        background-color: $white;
        padding: 1.5rem 1rem;
        box-shadow: 0 0 10px rgba($gray, .5);
        border-radius: 8px;
        
        .form-group {
            label {
                span {
                    &.required {
                        transform: scale(1.2);
                        color: $red;
                        display: inline-block;
                        margin-left: .2rem;
                        
                        [dir=rtl] & {
                            margin-left: 0;
                            margin-right: .2rem;
                        }
                    }
                    
                    &.title {
                        color: $dark;
                        font-size: 1rem;
                        font-weight: 600;
                        text-transform: capitalize;
                    }
                }
            }
            
            .form-control {
                border-color: $gray;
                
                &:focus {
                    box-shadow: 0 0 0 transparent;
                    border-color: $blue;
                }
            }
            
            small {
                color: $red;
                text-transform: capitalize;
                font-weight: 600;
            }
        }
        
        button {
            
        }
    }
}