.items-list {
    padding-bottom: 1rem;
    
    .head {
        padding: 1rem;
        
        .item-name,
        .item-unit,
        .item-price,
        .item-added-on {
            text-transform: capitalize;
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
    
    .list {
        background-color: $white;
        padding: 1.7rem 1rem;
        //border-radius: 5px;
        margin-top: 1.5rem;
        transition: all .2s ease-in-out;
        position: relative;
        box-shadow: 0 2px 8px rgba($gray, .3);
        
        @media (max-width: 991px) {
            padding-top: 2rem;
            padding-bottom: 0;
        }
        
        @media (max-width: 991px) {
            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }
        
        &:hover {
            box-shadow: 0 4px 8px rgba($gray, .7);
        }
        
        .item-name {
            position: relative;
            
            @media (max-width: 991px) {
                padding: 1.5rem 1rem;
                border-right: 1px solid rgba($gray, .3);
                border-top: 1px solid rgba($gray, .3);
                border-bottom: 1px solid rgba($gray, .3);
                
                [dir=rtl] & {
                    border-right: 0;
                    border-left: 1px solid rgba($gray, .3);;
                }
            }
            
            span {
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba($blue, .2);
                color: $blue;
                font-size: .7rem;
                text-transform: capitalize;
                padding: .2rem .4rem;
                
                [dir=rtl] & {
                    left: auto;
                    right: 0;
                }
            }
            
            a {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 1.1rem;
                color: $blue;
                text-transform: capitalize;
                font-weight: 600;
                
                @media (max-width: 991px) {
                    font-size: .9rem;
                }
            }
        }
        
        .item-unit {
            font-size: 1rem;
            font-family: enExtraLight, sans-serif;
            font-weight: bold;
            position: relative;

            @media (max-width: 991px) {
                font-size: .9rem;
                padding: 1.5rem 1rem;
                border-top: 1px solid rgba($gray, .3);
                border-bottom: 1px solid rgba($gray, .3);
            }

            [dir=rtl] & {
                font-family: arExtraLight, sans-serif;
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba($blue, .2);
                color: $blue;
                font-size: .7rem;
                text-transform: capitalize;
                padding: .2rem .4rem;
                
                [dir=rtl] & {
                    left: auto;
                    right: 0;
                }
            }
        }
        
        .item-price {
            font-size: 1rem;
            font-family: enExtraLight, sans-serif;
            font-weight: bold;
            position: relative;

            @media (max-width: 991px) {
                font-size: .9rem;
                padding: 1.5rem 1rem;
                border-right: 1px solid rgba($gray, .3);
                //border-bottom: 1px solid rgba($gray, .4);

                [dir=rtl] & {
                    border-right: 0;
                    border-left: 1px solid rgba($gray, .3);;
                }
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba($blue, .2);
                color: $blue;
                font-size: .7rem;
                text-transform: capitalize;
                padding: .2rem .4rem;

                [dir=rtl] & {
                    left: auto;
                    right: 0;
                }
            }
            
            [dir=rtl] & {
                font-family: arExtraLight, sans-serif;
            }
        }
        
        .item-added-on {
            font-size: 1rem;
            font-family: enExtraLight, sans-serif;
            font-weight: bold;
            position: relative;

            @media (max-width: 991px) {
                font-size: .9rem;
                padding: 1.5rem 1rem;
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba($blue, .2);
                color: $blue;
                font-size: .7rem;
                text-transform: capitalize;
                padding: .2rem .4rem;

                [dir=rtl] & {
                    left: auto;
                    right: 0;
                }
            }

            [dir=rtl] & {
                font-family: arExtraLight, sans-serif;
            }
        }
        
        .item-options {
            position: absolute;
            right: 40px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
            
            [dir=rtl] & {
                right: auto;
                left: 40px;
            }
            
            @media (max-width: 991px) {
                top: 17px;
                right: 20px;
                
                [dir=rtl] & {
                    right: auto;
                    left: 20px;
                }
            }
            
            .options-btn {
                z-index: 5;
                
                svg {
                    color: $gray;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                }
            }
            
            .options-list {
                margin: 0;
                position: absolute;
                right: 9px;
                top: 27px;
                display: block;
                padding: .3rem;
                width: 130px;
                border-radius: 4px;
                background-color: $white;
                box-shadow: 0 1px 5px $gray;
                z-index: 8;
                opacity: 0;
                visibility: hidden;
                transition: all .1s ease-in-out;
                
                [dir=rtl] & {
                    right: auto;
                    left: 9px;
                }
                
                &.show-options-list {
                    opacity: 1;
                    visibility: visible;
                }
                
                .list-item-content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row-reverse;
                    padding: .4rem;
                    transition: all .2s ease-in-out;
                    cursor: pointer;
                    
                    &:hover {
                        background-color: rgba($gray, .2);
                    }
                    
                    span {
                        color: $dark;
                        font-size: .9rem;
                        text-transform: capitalize;
                        font-weight: 600;
                    }
                    
                    svg {
                        width: 20px;
                        height: 20px;
                        color: $gray;
                    }    
                }
                
                
            }
        }
    }
}