.content {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 1rem;
    position: relative;
    
    .content-overlay {
        position: fixed;
        top: 65px;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($dark, .4);
        z-index: 6;
        transition: all .3s ease-in-out;
        opacity: 0;
        visibility: hidden;
        
        
        &.show-content-overlay {
            opacity: 1;
            visibility: visible;
            
            @media (min-width: 768px) {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}