

/* ------- english fonts ------- */


@font-face {
    font-family: enExtraLight;
    src: url("~@/assets/scss/fonts/en/Dosis-ExtraLight.ttf");
}

@font-face {
    font-family: enLight;
    src: url("~@/assets/scss/fonts/en/Dosis-Light.ttf");
}


@font-face {
    font-family: enRegular;
    src: url("~@/assets/scss/fonts/en/Dosis-Regular.ttf");
}


@font-face {
    font-family: enMedium;
    src: url("~@/assets/scss/fonts/en/Dosis-Medium.ttf");
}

@font-face {
    font-family: enSemiBold;
    src: url("~@/assets/scss/fonts/en/Dosis-SemiBold.ttf");
}


@font-face {
    font-family: enBold;
    src: url("~@/assets/scss/fonts/en/Dosis-Bold.ttf");
}


@font-face {
    font-family: enSemiBold;
    src: url("~@/assets/scss/fonts/en/Dosis-ExtraBold.ttf");
}

/* ------- english fonts ------- */


// ---------------------------------------------------------------- \\


/* ------- arabic fonts ------- */


@font-face {
    font-family: arExtraLight;
    src: url("~@/assets/scss/fonts/ar/Tajawal-ExtraLight.ttf");
}

@font-face {
    font-family: arLight;
    src: url("~@/assets/scss/fonts/ar/Tajawal-Light.ttf");
}


@font-face {
    font-family: arRegular;
    src: url("~@/assets/scss/fonts/ar/Tajawal-Regular.ttf");
}


@font-face {
    font-family: arMedium;
    src: url("~@/assets/scss/fonts/ar/Tajawal-Medium.ttf");
}

@font-face {
    font-family: arSemiBold;
    src: url("~@/assets/scss/fonts/ar/Tajawal-Black.ttf");
}


@font-face {
    font-family: arBold;
    src: url("~@/assets/scss/fonts/ar/Tajawal-Bold.ttf");
}


@font-face {
    font-family: arSemiBold;
    src: url("~@/assets/scss/fonts/ar/Tajawal-ExtraBold.ttf");
}

/* ------- arabic fonts ------- */
